<nav class="flex justify-between px-10 rounded-b-2xl items-center w-full h-[10vh]  backdrop-blur	 ">
    <h1 class="w-40"><img width="64" height="64" src="https://img.icons8.com/external-yogi-aprelliyanto-basic-outline-yogi-aprelliyanto/64/external-deal-real-estate-yogi-aprelliyanto-basic-outline-yogi-aprelliyanto.png" alt="external-deal-real-estate-yogi-aprelliyanto-basic-outline-yogi-aprelliyanto"/></h1>
    <div class="flex text-gray-50 text-xl font-semibold gap-5">
        <a href="">Home</a> |
        <a href="">About web designer</a> |
        <a href="">Contact Info</a>
    </div>
   <div class="w-40 flex text-gray-50 text-xl font-semibold gap-5">
    <a href="">Login</a> /
    <a href="">Register</a>
</div>
</nav>